body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #682929;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

.proyecto {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

footer {
    background-color: #682929;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#foto {
    text-align: center;
}

#foto img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

#certificados {
    padding: 20px;
}

.certificado {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.certificado img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}